<style type="text/css">
    div{ margin: 20px;}
</style>

<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>
<form role="form" action="/auth/local/register" method="post">
  <div>
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
  </div>
  <div>
      <label for="type">Тип пользователя</label>
      <select name="type" id="type">
          <option value="registred">обычный</option>
          <option value="admin">админ</option>
      </select>
      <label for="active">Статус:</label>
      <select name="active" id="active">
        <option value="true">активный</option>
        <option value="false">выключен</option>
      </select>
  </div>
    <br/>
    <button type="submit">Добавить</button>
</form>

