<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>i-identic</title>
    <style type="text/css">
        html,body{ margin: 0; padding: 0; width: 100%;}
        body{ font-family: arial, tahoma, sans-serif}
    </style>
</head>
<body>
<header>
    <img src="images/iidentic" alt="headLogo"/>
    <div class="userInfo fr">
        <div>Иванов Василий Петрович</div>
        <div>ООО "АДАМАС-ЮВЕЛИР"</div>
    </div>
</header>
<nav class="mainNavHoriz">
    <nav class="mainNav hide">
        <a ref="#" class="active">Визитная карточка</a>
        <a href="#">Бланк</a>
        <a href="#">Конверт</a>
        <a href="#">Папка</a>
        <a href="#">Элементы фирменного стиля</a>
    </nav>
</nav>

</body>
</html>