<header>
    <img src="images/iidentic" alt="headLogo"/>
    <div class="userInfo fr">
        <div>Иванов Василий Петрович</div>
        <div>ООО "АДАМАС-ЮВЕЛИР"</div>
    </div>
</header>
<nav class="mainNavHoriz">
    <nav class="mainNav hide">
        <li><a href="#">Визитная карточка</a></li>
        <li><a href="#">Бланк</a></li>
        <li><a href="#">Конверт</a></li>
        <li><a href="#">Папка</a></li>
        <li><a href="#">Элементы фирменного стиля</a></li>
    </nav>
</nav>
<h1>Выберите элемент фирменного стиля для работы:</h1>
<nav class="mainNavVert">
    <li><a href="#">Визитная карточка</a></li>
    <li><a href="#">Бланк</a></li>
    <li><a href="#">Конверт</a></li>
    <li><a href="#">Папка</a></li>
    <li><a href="#">Элементы фирменного стиля</a></li>
</nav>